.input-table{
	display: grid;
	grid-template-areas: "input-intro input-intro input-intro" "choices choices choices" "searchbar searchbar searchbar" "checkinout checkinout checkinout" "roomtype roomtype searchbutton";
	background-color: #eeeeee00;
	color: white;
}

.input-intro{
	grid-area: input-intro;
	padding: 1em;
	font-size: 0.9em;
}
.input-intro .intro-text{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5em;

}
.input-intro *{
	/*padding: 0.5em;*/
}

.input-table .choices{
	grid-area: choices;
	display: flex;
	align-items: center;
	padding: 0.5em;
}

.input-table .choices .home{
	display: flex;
	flex-grow: 1;
	padding-left: 1em;
}

.input-table .choices *{
	padding:  0.2em 0.5em;
}
.search-bar{
	grid-area: searchbar;
}

.check-in-out{
	grid-area: checkinout;
}

.room-type{
	grid-area: roomtype;
}

.search-button{
	grid-area: searchbutton;
}

