.room-type{
	display: flex;
	height: 4rem;
	padding: 0.5rem;
	margin: 0.25rem;
	box-shadow: 5px 5px 10px #33333311;
	align-items: center;
	background-color: white;

}
.room-type .type{
	flex-grow: 1;
	font-size: 0.8em;
}
.room-type .num-room{
	color: #888888ff;
}
.room-type .icon-container{
	flex-basis: 4.25rem;
	text-align: center;
}

.room-type .icon{
	color: #555555ff;
	font-size: 1.5em;
}