.discount-container{
	font-family: "Montserrat", sans-serif;
	width: 19rem;
	height: 17rem;
	padding: 0px;
	margin: 0.25rem 0rem;
}

.discount-overlay{
	height: 100%;
	box-sizing: border-box;
	display:flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 1.5em 1em 1.5em;
	background-color: #75a8f8;
	color: white;
	border: 1px solid #5492f8;
	box-shadow: 0px 0px 20px #00000033; 
	transition: background-color 0.3s;
	position: relative;
}

.discount-overlay h1{
	text-transform: uppercase;
	font-size: 1.5em;
	margin: 0;
	padding: 0em 0em 0.2em;
}

.discount-overlay div{
	font-size: 4em;
	font-weight: bold;
}

.discount-overlay h2{
	margin:0;
	font-weight: normal;
	font-size: 1em;
	text-transform: lowercase;
}

.discount-overlay p{
	font-size: 0.7em;
	color:	#325792 ;
}

.discount-overlay button{
	width: 13em;
	height: 2.5em;
	text-transform: uppercase;
	background-color: white;
	border: 1px solid #5392f8;
	border-radius: 0.17em;
	padding:0;
	position: absolute;
	bottom: 1.5em;
}

.discount-overlay:hover {
	background-color: #5392f8
}


.discount-overlay .link{
	text-decoration: none;
	color: #5492f8;
}
